{% extends "beerstatus/base_template.html" %}
{% block  containercontent %}
 
    <div class="jumbotron">

    <h1 class="center">about:hoppy.fi</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 ">
            <p>Hoppy.fi is an experimental service written by <a
            href="http://jyrsa.iki.fi">Jyry Suvilehto</a>. Code will eventually
            be published in GitHub.</p>

            <p>This project was sparked my frustration at trying to figure out
            what beers are available and what are worth buying when I go beer
            shoppint. Also, I'm fairly certain that I look like an idiot
            standing there for possibly a long time staring at the counter and
            making mental judgements.</p>
            <p>Possible future feature list </p>
            <ul>
            <li>Search for the nearest Alko using html5 location API
            (coordinates exist already)</li>
            <li>Search for stores containing a particular beer</li>
            <li>Possibly a comparison view of several potential Alkos</li>
            
            </ul>
        </div>
    </div>
{% endblock %}
